

body{

    background-image: url("images/bg.png");
    background-size: 100%;
  }


.btn-bottom-center {
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
  }

 


  .row{
  margin-bottom: 2rem;
  }

  .container h1{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 3%;
  }

  .custom-btn {
    background-color: orange !important;
    border-radius: 30px !important;
    width: 8rem !important;
    height: 2.5rem !important;
  }
  


  @media only screen and (max-width: 480px) {
    .container .row{
        margin-bottom: 2rem;
    }
  }


  @media only screen and (max-width: 480px) {

    .container h1{
       margin-left: 5rem;
    }
    .btn-bottom-center {
        bottom: -20px;
      }
      .col-sm{
        margin-bottom: 2rem;
      }
    }












    nav {
      margin-left: 50%;
      height:5rem;
       top:0;
    }
    
    
    
    header{
      
      top: 0;
     
    }
    
    .brand {
      color: #FF9138;
    }
    
    .border-hover {
      border-top: 5px solid transparent;
      transform: translateY(-4px);
    }
    
    .border-hover:hover {
      border-top: 5px solid #ff9138;
      transform: translateY(-4px);
      
    }
    
    #sign-in {
      background: #FF9138;
      border-radius: 20px;
    }
    
    .navbar-toggler {
      border: 3px solid #FF9138;
    }
    
    .navbar-collapse {
      z-index: 10000; /* Set a high z-index value for the hamburger menu */
    }
    
    .navbar-toggler-icon {
      background-image: url(/static_files/svgs3/list.svg)
    }
    
    .navbar-toggler:focus {
      box-shadow: none;
    }
    
    #nav-length {
      width: 90%;
    }
    
    @media screen and (max-width : 480px) {
      #nav-length {
          width: 100%;
      }
      nav {
        margin-left: 20%;
        height:5rem;
        
        margin-right: 10%;
    
      
        
        
      }
    
      .border-hover {
          border-top: 0;
      }
    
      .border-hover:hover {
          border-top: 0;
      }
    
      #sign-in {
          border-radius: 50px;
      }
    }
    @media (max-width: 480px) {
      body.navbar-open {
        position: fixed;
        overflow-y: scroll;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        transition: all 0.5s;
      }
    }
    
    
    
    .logo img{
      height: 7rem !important;
      width: 8rem !important;
    }
    
    
    
    
    
    
    