<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUHIVE</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'css/global.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

</head>







 
<header>
  <nav>
      <div class="navbar navbar-expand-lg fixed-top bg-white my-0"  >
        <a class="navbar-brand py-0 my-2" href="#"> <div class="log"><img src="{{url_for('static', filename = 'svg/logo.png')}}" alt=""></div></a>
          <div class="container-fluid">
           
            <div class="logo">   <a href="#" class="brand text-decoration-none d-block d-lg-none fw-bold fs-1 ml-5" ><img src="{{url_for('static', filename = 'svg/logo.png')}}" alt=""></a></div>
              <button class="navbar-toggler mr-5" type="button" data-bs-toggle="collapse" 
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation"  >
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                  <ul id="nav-length" class="navbar-nav justify-content-end border-2 text-center">
                      <li class="nav-item mr-5">
                          <a href="#body-content" class="nav-link border-hover my-2 py-0 text-black">Home</a>
                      </li>
                      <li class="nav-item mr-5">
                          <a href="#" class="nav-link border-hover py-0 my-2 text-black">About Us</a>
                      </li>
                      <li class="nav-item mr-5">
                          <a href="#courses" class="nav-link border-hover my-2 py-0 text-black">Courses</a>
                      </li>
                      <li class="nav-item mr-5">
                          <a href="#footer" class="nav-link border-hover  my-2 py-0 text-black">Contact Us</a>
                      </li>
                     
                      <li class="nav-item mr-5">
                          <a href="{{url_for('login')}}" id="sign-in" class="nav-link py-2  px-5 my-0 text-black">
                              Log in
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>
</header>






<main id="body-content">

<div class="land">
<div class="hero">
  <div class="side-hero">
    <h1>The <span id="smart">Smart</span></h1>
    <h1>Choice for <span id="future">Future</span></h1>
    
      <div class="search__container">
        <input class="search__input" type="text" placeholder="Search">
    </div>
    

  </div>
  <div class="first-hero">
    <img src="{{url_for('static', filename = 'images/first.png')}}" alt="">
  </div>
</div>
</div>









<div class="courses" id="courses">
  <h1>Select Your Category</h1>
  
  <div class="container">
    <div class="row g-4 justify-content-center" style="margin-left: auto; margin-right: auto; margin-top: auto;margin-bottom: auto;">
      <div class="col-md-3 mx-3 ">
        <div class="card">
          <img class="card-img-top" src="https://www.bwallpaperhd.com/wp-content/uploads/2021/01/NashPoint.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center text-bold">Undergraduate</h5>
            <p class="card-text">This section contains materials of Undergraduate courses.</p>
          <a href="{{url_for('undergraduate')}}"> <button type="button" class="btn btn-warning btn-bottom-center  custom-btn">Go to</button></a>
        
        </div>
      </div>
      </div>
  
      <div class="col-md-3 mx-3  ">
        <div class="card">
          <img class="card-img-top" src="https://www.bwallpaperhd.com/wp-content/uploads/2021/01/NashPoint.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Elementary- 11 & 12</h5>
            <p class="card-text">This section contains materials of Elementary courses.</p>
            <button type="button" class="btn btn-warning btn-bottom-center  custom-btn">Go to</button>
        
        </div>
      </div>
      </div>
  
      <div class="col-md-3 mx-2" >
        <div class="card">
          <img class="card-img-top" src="https://www.bwallpaperhd.com/wp-content/uploads/2021/01/NashPoint.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Post Graduation</h5>
            <p class="card-text">This section contains materials of Post Graduate courses.</p>
            <button type="button" class="btn btn-warning btn-bottom-center  custom-btn">Go to</button>

        
        </div>
      </div>
      </div>
  
      </div>
    </div>
  </div> 
  







  


<div class="premium">
  <div class="left-hero">
    <img src="{{url_for('static', filename = 'images/OBJECTS.png')}}">
  </div>
  <div class="right-hero">
    <h1>Premium <span>Learning</span></h1>
    <h1>Experience</h1>
    <img src="{{url_for('static', filename = 'images/premium.png')}}">
  </div>
</div>












<div class="students">
  <h1>What Our Students Say</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, quam?</p>
 
  <div class="container">
    <div class="row g-4 justify-content-center" style="margin-left: auto; margin-right: auto; margin-top: auto;margin-bottom: auto;">
      <div class="col-md-3 mx-3 ">
        <div class="card ">
          
          <div class="card-body ">
            <h5 class="card-title">Card title 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mx-2 ">
        <div class="card">
         
          <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mx-2" >
        <div class="card">
         
          <div class="card-body">
            <h5 class="card-title">Card title 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
          </div>
        </div>
      </div>
  
      </div>
    </div>
  </div>
  
  








<div class="team">
  <h1>Our Team</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, quam?</p>
 
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://www.bwallpaperhd.com/wp-content/uploads/2021/01/NashPoint.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
              <button type="button" class="btn btn-warning btn-bottom-center  custom-btn">Github</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://www.bwallpaperhd.com/wp-content/uploads/2021/01/NashPoint.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
              <button type="button" class="btn btn-warning btn-bottom-center  custom-btn">Github</button>
              </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://www.bwallpaperhd.com/wp-content/uploads/2021/01/NashPoint.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title 3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
              <button type="button" class="btn btn-warning btn-bottom-center  custom-btn">Github</button>
              </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://www.bwallpaperhd.com/wp-content/uploads/2021/01/NashPoint.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title 4</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="text-center">
              <button type="button" class="btn btn-warning btn-bottom-center  custom-btn">Warning</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>





<!--footer section-->


<footer class="footer-section" id="footer">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Find us</h4>
                          <span>1010 Avenue, sw 54321, chandigarh</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Call us</h4>
                          <span>100</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Mail us</h4>
                          <span>mail@info.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                      <div class="footer-logo">
                          <a href="{{url_for('home')}}"><img src="{{url_for('static', filename = 'svg/logo white.png')}}" class="img-fluid" alt="logo"></a>
                      </div>
                      <div class="footer-text">
                          <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                          elit,Lorem ipsum dolor sit amet.</p>
                      </div>
                      <div class="footer-social-icon">
                          <span>Follow us</span>
                          <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                          <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                          <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Useful Links</h3>
                      </div>
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">about</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">About us</a></li>
                          <li><a href="#">Our Services</a></li>
                          <li><a href="#">Contact us</a></li>
                        
                      </ul>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Subscribe</h3>
                      </div>
                      <div class="footer-text mb-25">
                          <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                      </div>
                      <div class="subscribe-form">
                          <form action="#">
                             <input type="text" placeholder="Email Address">
                              <button><i class="fab fa-telegram-plane"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2023, All Right Reserved <a href="#">Eduhive</a></p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Terms</a></li>
                          <li><a href="#">Privacy</a></li>
                          <li><a href="#">Policy</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>






<script src="https://kit.fontawesome.com/2fac5a2d70.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>



